body {
  height: 1200px;
}

div {
  border: 2px solid #ccc;
  margin-top: 40px;
  padding: 20px 20px 40px 20px;
}

span {
  background: #e7e7e7;
  border: 2px solid #ccc;
  padding: 10px;
  position: relative;
  bottom: 20px;
}