
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
}