.bicicleta {
  height: 2000px;
  background-color: lightblue;
  background-image: url("../Capitulo_04/img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  /* background: lightblue url("../Capitulo_04/img/bicicleta.jpg") no-repeat cover center top; */
  display: flex;
}

h1 {
  margin: auto;
  background: white;
  padding: 1rem 2rem;
}

.pattern {
  height: 300px;
  background: url("../Capitulo_05/img/pattern.svg") repeat lightcoral;
}

.linear {
  height: 200px;
  background: linear-gradient(to right, lightblue 0%, lightcoral 10%, blue 20%, green 30%);
}

.radial {
  height: 200px;
  background: radial-gradient(circle, blue, red, green);
}
