a {
  text-decoration: none;
  color: white;
  background: darkblue;
  display: inline-block;
}

p {
  background: lightblue;
}

.px {
  font-size: 24px;
  padding: 16px 32px;
}

html {
  font-size: 200%;
}

.rem {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}