.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 115px;
  background: url(../IMG/detalhe.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -27px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (width <= 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (width <= 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 35px;
    height: 10px;
    left: 1px;
    top: -14px;
    background-position: -45px;
  }
}

@media (width <= 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  
  .introducao img {
    display: none;
  }
}